@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  max-width: 100vw;
  max-height: calc(var(--vh, 1vh) * 100);
  margin: 0px !important;
  font-family: "Roboto", sans-serif;
}

video {
  max-height: 100vh;
  position: fixed !important;
  object-fit: cover;
}

.holder {
  z-index: 1;
  background-color: transparent;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 8px;
  position: absolute;
  top: 0;
  left: 0;
}

#myEmbeddedScene {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

a-scene {
  width: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-group {
  padding: 0px 7%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: rgba(254, 254, 254, 0.4);
  border: 2px solid #ffffff;
  min-height: 48px;
  width: 24vw;
  height: 6vh;
  border-radius: 14px;
  color: #fefefe;
  font-size: 15px;
  font-weight: 700;
}

.button:focus {
  background-color: #fefefe;
  color: #051e76;
  outline: none;
}

.guide {
  display: flex;
  width: 100%;
  padding: 0px 10%;
}

.robot {
  margin-right: 16px;
}

.mystery-guide {
  font-size: 10px;
  color: #fefefe;
  margin: 0px 0px 4px;
}

.guide-bubble {
  background-color: #fefefe;
  border-radius: 14px;
  font-size: 11px;
  line-height: 150%;
  padding: 8px 16px;
  color: #051e76;
  animation: fadeIn ease-in 1.5s, moveUp ease-in 1.5s;
  position: relative;
}

.guide-bubble::before {
  content: url(bubble-arrow.svg);
  top: 2px;
  left: -9px;
  position: absolute;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    top: 20px;
  }
  to {
    top: 0px;
  }
}

/* to disable landscape mode */

@media screen and (orientation: landscape) {
  .holder {
    transform: rotate(-90deg);
    transform-origin: left top;
    min-width: unset;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  video {
    transform: rotate(-90deg);
    transform-origin: left top;
    top: 100% !important;
    margin: 0px !important;
    min-height: 100vw;
  }

  .button {
    width: 24vh;
    height: 6vw;
  }
}

/* styles for larger screens */
@media screen and (min-width: 600px) and (orientation: portrait) {
  .button {
    font-size: 20px;
    border-radius: 18px;
  }
  .robot img {
    min-width: 70px;
  }
  .robot {
    margin-right: 24px;
  }
  .mystery-guide {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .guide-bubble {
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 24px;
  }
  .holder {
    padding: 32px 8px;
  }
  .guide-bubble::before {
    left: -13px;
  }
}

@media screen and (min-width: 1000px) {
  .button {
    font-size: 28px;
    border-radius: 24px;
  }
  .robot img {
    min-width: 100px;
  }
  .robot {
    margin-right: 28px;
  }
  .mystery-guide {
    font-size: 22px;
    margin-bottom: 16px;
  }
  .guide-bubble {
    font-size: 24px;
    padding: 16px 32px;
    border-radius: 24px;
  }
  .holder {
    padding: 48px 8px;
  }
  .guide-bubble::before {
    left: -16px;
  }
}
