html, body {
  overflow-x: hidden;
}
body {
    position: relative;
    font-family: Verdana;
    letter-spacing: 1px;
    font-size: 14px;
}
section {
    display: none;
}
section:first-of-type {
    display: block;
}
ul {
    list-style: none;
}
li {
    display:inline; 
    text-align: center;
}
